@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto:wght@900&display=swap");

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
    url("./app/assets/fonts/Roboto/Roboto-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("./app/assets/fonts/Roboto/Roboto-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"),
    url("./app/assets/fonts/Roboto/Roboto-Medium.ttf") format("opentype");
}

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#print-root {
  overflow: hidden;
}
#print-root #print-container {
  width: 21cm;
  min-width: 29cm;
}
